progress.reading-progress-bar {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: var(--reading-progress-bar--height, 5px);
  color: var(--reading-progress-bar--color, #0060df);
  border: var(--reading-progress-bar--border, 0);
  background-color: var(--reading-progress-bar--background-color, #e9e9ed);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

progress.reading-progress-bar::-webkit-progress-value {
  background-color: var(--reading-progress-bar--color, #0060df);
}
progress.reading-progress-bar::-moz-progress-bar {
  background-color: var(--reading-progress-bar--color, #0060df);
}
progress.reading-progress-bar::-webkit-progress-bar {
  background-color: var(--reading-progress-bar--background-color, #e9e9ed);
}

.toolbar-vertical progress.reading-progress-bar,
.toolbar-horizontal progress.reading-progress-bar {
  top: 40px;
}
.toolbar-horizontal.toolbar-tray-open progress.reading-progress-bar {
  top: 79px;
}

progress.reading-progress-bar {
  transition-duration: 0s, 1s;
  transition-property: visibility, opacity;
}

progress.reading-progress-bar.hidden {
  visibility: hidden;
  transition-delay: 0s, 1s;
  transition-duration: 1s, 0s;
  transition-property: opacity, visibility;
  opacity: 0;
}
