{#
/**
 * @file
 * Default theme implementation to display a reading progress bar.
 *
 * Returns HTML for a reading progress bar.
 *
 * @ingroup themeable
 */
#}

<progress {{ attributes }} value="0"></progress>
<style>{{ inline_style }}</style>
